<form [formGroup]="form">
  <div class="control">
    <label for="cuentaId">Cuenta</label>
    <div class="with-error">
      <select name="cuentaId" id="cuentaId" formControlName="cuentaId">
        <option value="">--Elije una cuenta--</option>
        @for (cuenta of cuentas(); track $index) {
          <option [value]="cuenta.cuentaId">{{ cuenta.numeroCuenta }}</option>
        }
      </select>
      @if (form.controls.cuentaId.touched && form.controls.cuentaId.invalid) {
        <span class="error">Selecciona una cuenta</span>
      }
    </div>
  </div>

  <div class="control">
    <label for="monto">Monto</label>
    <div class="with-error">
      <input type="number" name="monto" id="monto" formControlName="monto" />
      @if (form.controls.monto.touched && form.controls.monto.invalid) {
        <span class="error">Monto es mandatorio</span>
      }
    </div>
  </div>

  <div class="control">
    <label for="operaciones">Operacion</label>
    <div class="radios" id="operaciones">
      <label for="credito">CREDITO</label>
      <input type="radio" name="operacion" id="credito" value="CREDITO" formControlName="operacion" />

      <label for="debito">DEBITO</label>
      <input type="radio" name="operacion" id="debito" value="DEBITO" formControlName="operacion" />
    </div>
  </div>

  <section class="action">
    <button type="button" (click)="onSave()">Guardar</button>
    @if (!!data()?.id) {
      <button type="button" (click)="eliminar.emit(data()?.id!)">Delete</button>
    }
  </section>
</form>
