.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .input-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    i {
      position: absolute;
      top: 7px;
      right: 0;
      padding: 0 7px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
