@use '../../../styles.scss' as vars;

::backdrop {
  background-color: vars.$black;
  opacity: 0.5;
}

dialog {
  position: relative;

  #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    width: auto;
    color: vars.$black;
    min-width: 1rem;
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-top: 1rem;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      border: transparent;
    }
  }
}
