:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    display: grid;
    grid-template-columns: 25% auto;
    height: 100%;
    flex-grow: 1;
  }

  app-sidebar,
  app-main {
    display: block;
    height: 100%;
  }
}
