<section class="container">
  <h4>Reporte</h4>

  @let clientes = clientes$ | async;
  <app-filtro [clientes]="clientes || []" (submit)="onFilter($event)" />

  @let datos = dataSource$ | async;
  @if (datos?.length) {
    <section class="actions">
      <button type="button" (click)="asPDF(tabla.getTablaHTMLElement())">PDF</button>
      <button type="button" (click)="toJSON(datos!)">JSON</button>
    </section>

    <app-tabla #tabla [columns]="columnas" [dataSource]="datos!" />
  }
</section>
